* {
    box-sizing: border-box;
}

body {
    /* background-image: url(img/optimized.jpg); */
    background-image: linear-gradient(to right, #141e30, #243b55);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-form {
    margin: 5rem 0;
    width: 50rem;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    margin-top: 1rem;
    float: right;
}

.new-entry {
    margin-top: 1.25rem;
}

.answer {
    white-space: pre-wrap;
}

.small-icon {
    font-size: 1rem;
    color: black;
}

.medium-icon {
    font-size: 2rem;
    color: black;
    gap: 3rem;
    margin-right: 0.25rem;
}

.note {
    font-weight: bold;
}